<form id='new_entry'>
  <label for="bed_time">Bed Time</label>
  <input type="text" id="new_entry_bed_time"/>
  <label for="wake_time">Wake Time</label>
  <input type="text" id="new_entry_wake_time"/>
  <label for='sleep_rating'>Sleep Rating</label>
  <input type'text' id='new_entry_sleep_rating'/>
  <div>
    <input type="text" id="date"/>
    <input type="text" id="time"/>
  </div>
  <input id='create_new_entry' type='submit' value='Create'/>
</form>