<form id='edit_entry_form'>
  <input type='text' name='sleep_time' id='edit_entry_bed_time' value='<%= entry.get('bed_time') %>'/>
  <input type='text' name='wake_time' id='edit_entry_wake_time' value='<%= entry.get('wake_time') %>'/>
  <input type='text' name='sleep_rating' id='edit_entry_sleep_rating' value='<%= entry.get('sleep_rating') %>'/>
  <input type='submit' value='Update' id='update_entry'/>
  <input type='submit' value='Cancel' id='cancel_edit_entry'/>
</form>