<form id='new_entry'>
  <input type='text' name='sleep_time' id='new_entry_bed_time' placeholder='sleep time'/>
  <input type='text' name='wake_time' id='new_entry_wake_time' placeholder='wake time'/>
  <input type='text' name='sleep_rating' id='new_entry_sleep_rating' placeholder='rating'/>
  <input id='create_new_entry' type='submit' value='Create'/>
</form>

<ul id='entries'></ul>